#body {
  margin-top: 60px;
  margin-left: auto;
}

.list-group-item.indic-row.selected {
  background-color: beige;
  //color: red;
}

.list-group-item.indic-row.disabled {
  background-color: #dadada;
  display: none;
}

.badge.indic-ther.badge-secondary {
  display: none;
}

.big-checkbox {
  width: 30px; 
  height: 30px;
}

/*.badge.indic-ther, .indic-autre {
    display: block; 
    float: left; 
    clear: left; 
}*/

.indic-drug-badge {
  cursor: pointer;
}

.indic-drug-badge.disabled {
  cursor: not-allowed;
}

.pre-scrollable.select-drug {
  max-height: 700px;
  margin: -4px;
}
