/*.container {
  max-width: 100%;
  padding: 0;
}*/

html, body {
  height: 100%;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}

#app {
  display: flex;
  flex-flow: column;
  height: 100%;

}


#menu {
  flex: 0 1 auto;
}

#content {
  flex: 1 1 auto;
  min-height: 0;
}


#footer {
  flex: 0 1 40px;
}


.list-group-item.indic-row.selected {
  background-color: beige;
  //color: red;
}

.list-group-item.indic-row.disabled {
  background-color: #dadada;
  display: none;
}

.badge.indic-ther.badge-secondary {
  display: none;
}

.big-checkbox {
  width: 30px; 
  height: 30px;
}

/*.badge.indic-ther, .indic-autre {
    display: block; 
    float: left; 
    clear: left; 
}*/

.indic-drug-badge {
  cursor: pointer;
}

.indic-drug-badge.disabled {
  cursor: not-allowed;
}

.test-flexxx {
  display: flex;
  flex-flow: column;
  //height: 100%;
}


.select-drug {
  flex: 1 1 auto;
}

.flex-nav {
  flex: 0 1 auto;
}

.selection-view {
  height: 48px;
  line-height: 48px;
}
